
* {
    margin: 0;
    padding: 0;
}
/* App */
.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assets/mainbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.winner-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    animation: fadeIn 0.5s ease-in-out; /* Анимация появления */
}

.player-1 {
    color: #ff5733; /* Цвет для игрока 1 */
}

.player-2 {
    color: #336aff; /* Цвет для игрока 2 */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Info Component */

.info-component {
    height: calc((96px + 41px) * 4);
    width: 380px;
    background-image: url("assets/info.png");
    /*background-size: calc((96px + 5px) * 6) calc((96px) * 4 + (5px * 3));*/
    background-repeat: no-repeat;
    position: relative;
}

.info-component img {

    position: absolute;
    right: 30%;
    top: 10%;
}

.info-stats {
    position: absolute;
    bottom: 10%;
    left: 30%; /* Положение по центру относительно .info-component */
    width: 130px;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.1);
}

.info-stats::after {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: 2;
}

.info-stats > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px; /* Расстояние между ключом и значением */
    width: 130px; /* Ширина контейнера с ключом и значением */
}

.info-stats .info-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-stats span {
    color: white;
    font-weight: bold;
}

.info-text-sides {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


/* Board */
.board {
    background-image: url("assets/board.jpg");
    position: relative;
    background-size: cover;

    /*background-size: calc((96px + 5px) * 6) calc((96px) * 4 + (5px * 3));*/
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 720px;
}

.cell-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

}

.under-cell-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.under-cell {
    width: 96px;
    height: 40px;
    position: relative;
    object-fit: cover;
}


/* Cell */

.cell {
    position: relative;
    width: 96px;
    height: 96px;
}

.cell img {
    width: 96px;
    height: 96px;
}

.cell div.image-with-overlay {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
    opacity: 0.7;
}


.selected::after, .available::after, .can-action::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.selected::after {
    animation: selected-glow 0.5s infinite alternate;
}

.available::after {
    animation: available-glow 0.5s infinite alternate;
}

.can-action::after {
    animation: can-action-glow 0.5s infinite alternate;
}

@keyframes selected-glow {
    0% {
        box-shadow: inset 0 0 10px 2px #00ff00;
    }
    100% {
        box-shadow: inset 0 0 20px 4px #00ff00;
    }
}

@keyframes available-glow {
    0% {
        box-shadow: inset 0 0 10px 2px #0077cc;
    }
    100% {
        box-shadow: inset 0 0 20px 4px #0077cc;
    }
}

@keyframes can-action-glow {
    0% {
        box-shadow: inset 0 0 10px 2px #620101;
    }
    100% {
        box-shadow: inset 0 0 20px 4px #830000;
    }
}

.tent  {
    background-image: url('assets/tent.png');
    width: 96px;
    height: 96px;
}

.range {
    background-image: url('assets/range.png');
    width: 96px;
    height: 96px;
}

.melee {
    background-image: url('assets/melee.png');
    width: 96px;
    height: 96px;
}


/* CharStats */

.character-stats {
    width: 96px;
    height: 40px;
    background: linear-gradient(to bottom, #8B4513, #A52A2A);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    color: white;

}

.char-text-sides {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}

.char-text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.army {
    /*width: calc(96px * 6);*/
    /*height: calc((96px + 41px) * 4);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5vw;
    /*flex-wrap: wrap;*/
    /*align-items: flex-start;*/
}

.cell-row {
    display: flex;
}

.separator {
    margin: 3vh auto;
}

.actions-block {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.coordinates-input-block {
    display: flex;
    flex-direction: column;
    margin: 0 3vw;
}

.coordinates-input-block label {
    font-weight: 600;
    font-family: Inter, sans-serif;
    color: #333;
    margin: 8px 0;
}

.coordinates-input-block input {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    color: #333;
    font-family: Inter, sans-serif;
    font-size: 16px;
    padding: 10px;
    width: calc(15vw - 24px);
    margin-right: 10px;
    transition: border-color 0.4s;
}

.coordinates-input-block input:focus {
    border-color: #2ba36a;
    outline: none;
}

.buttons-block {
    display: flex;
    flex-direction: column;
    margin: 2vh 0;
}

.add-character-button {
    background-color: #2ba36a;
    filter: brightness(90%);
    align-items: center;
    font-weight: 600;
    border-radius: 40px;
    color: #f1f0f0;
    display: flex;
    font-family: Inter, sans-serif;
    height: 48px;
    justify-content: center;
    line-height: 20px;
    padding: 0 16px;
    transition: all .4s;
    width: 15vw;
    margin: 1vh 3vw;
    cursor: pointer;
}

.add-character-button:hover {
    opacity: 0.8;
}

.char-window {
    background-image: url("assets/paper.jpg");
    background-size: 350px 600px;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 600px;
    background-color: #fff;
}

.char-window-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    margin-top: 4vh;
}

.char-window-info {
    font-family: 'Cardo', serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.char-name-title {
    font-weight: 600;
    font-size: 24px;
}

.char-info-stats {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
